## Situação: Solicitaram-me o número de matrículas na rede escolar, a partir do ensino fundamental, de todas cidades distantes até 130 km do município referência.
## Para levantamento dos dados de todo o estado de SP foi importada uma tabela do banco QEdu. Para definir as cidades distantes do município referência foi utilizada a base contida no domínio "emsampa.com.br".

# Código desenvolvido em Phyton no Colab

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados_qedu.csv')

In [3]:
dados.head()

   COD Municipio               Cidade  COD UF  UF  Total de matrículas
0        3503950              Aspásia      35  SP                  239
1        3524808                Jales      35  SP                 7048
2        3540408             Populina      35  SP                  607
3        3549003        São Francisco      35  SP                  341
4        3546108  Santa Clara d'Oeste      35  SP                  325

In [4]:
Cidade = dados['Cidade']
Cidade.head()

0                Aspásia
1                  Jales
2               Populina
3          São Francisco
4    Santa Clara d'Oeste
Name: Cidade, dtype: object

In [5]:
Matriculas = dados['Total de matrículas']
Matriculas

0       239
1      7048
2       607
3       341
4       325
       ...
640     274
641     255
642    1192
643     233
644     260
Name: Total de matrículas, Length: 645, dtype: int64

In [6]:
matriculas = pd.DataFrame({'Cidade': Cidade, 'Matrículas': Matriculas})
matriculas.head()

                Cidade  Matrículas
0              Aspásia         239
1                Jales        7048
2             Populina         607
3        São Francisco         341
4  Santa Clara d'Oeste         325

In [7]:
soma_das_matriculas = sum(matriculas['Matrículas'])
print(soma_das_matriculas)

7339346

In [8]:
cidades_130 = pd.read_csv('cidades_130.csv')
cidades_130.head()

               Cidade
0      Águas da Prata
1    Águas de Lindoia
2  Águas de São Pedro
3           Americana
4              Amparo

In [9]:
lista_cidades_130 = cidades_130['Cidade'].tolist()
lista_cidades_130

['Águas da Prata',
 'Águas de Lindoia',
 'Águas de São Pedro',
 'Americana',
 'Amparo',
 'Araras',
 'Artur Nogueira',
 'Atibaia',
 'Brotas',
 'Cabreúva',
 'Capivari',
 'Conchal',
 'Cosmópolis',
 'Engenheiro Coelho',
 'Espírito Santo do Pinhal',
 'Holambra',
 'Hortolândia',
 'Ibitinga',
 'Indaiatuba',
 'Itatiba',
 'Itirapina',
 'Itobi',
 'Itupeva',
 'Jaguariúna',
 'Jarinu',
 'Jundiaí',
 'Leme',
 'Limeira',
 'Louveira',
 'Mococa',
 'Mogi Guaçu',
 'Mogi Mirim',
 'Monte Mor',
 'Morungaba',
 'Nova Odessa',
 'Paulínia',
 'Pedreira',
 'Piracicaba',
 'Pirassununga',
 'Porto Ferreira',
 'Rafard',
 'Rio Claro',
 "Santa Bárbara d'Oeste",
 'Santa Cruz das Palmeiras',
 'Santa Rita do Passa Quatro',
 'Santo Antônio de Posse',
 'São Carlos',
 'São João da Boa Vista',
 'São José do Rio Pardo',
 'São Pedro',
 'São Sebastião da Grama',
 'Serra Negra',
 'Socorro',
 'Sumaré',
 'Tambaú',
 'Tapiratiba',
 'Torrinha',
 'Valinhos',
 'Vargem Grande do Sul',
 'Vinhedo']

In [10]:
selecao_130 = matriculas['Cidade'].isin(lista_cidades_130)
cidades_selecionadas_130 = matriculas[selecao_130]

In [11]:
cidades_selecionadas_130.head()

                         Cidade  Matrículas
129  Santa Rita do Passa Quatro        3580
225                    Ibitinga        8584
235                  São Carlos       37092
240                   Itirapina        2660
241                   Rio Claro       31090

In [12]:
soma_das_matriculas_130 = sum(cidades_selecionadas_130['Matrículas'])
print(soma_das_matriculas_130)

833033

Existem 833033 matrículas nos municípios até 130 km.